/* Color */
/*Color Primary (Lavender)*/
/*Color Primary (Minion)*/
/* Font */
/*Color Secondary*/
* {
  margin: 0; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  background-color: #fbfaff;
  overflow-x: hidden; }

.navbar {
  font-family: "Hanken Grotesk", sans-serif !important;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .navbar .btn {
      display: flex;
      width: 100%;
      padding: 56px 20px 24px; } }

.btn--primary {
  border: 1px solid black !important;
  border-radius: 15px !important;
  padding: .8rem 1.8rem !important;
  font-weight: 600 !important;
  display: flex !important;
  justify-content: center !important;
  flex: 1 0 0 !important; }
  @media only screen and (max-width: 600px) {
    .btn--primary {
      padding: .3rem 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn--primary {
      display: flex;
      width: 100%;
      padding: 56px 20px 24px; } }

.btn--secondary {
  border-radius: 15px !important;
  padding: 1.1rem 5rem !important;
  background: #191A23 !important;
  color: #fff !important;
  font-weight: 600 !important; }

.navbar-nav {
  margin-left: auto !important;
  margin-right: auto !important; }
  @media only screen and (max-width: 37.5em) {
    .navbar-nav .nav-item {
      padding: 24px 0px; } }
  @media only screen and (max-width: 37.5em) {
    .navbar-nav .nav-item:not(:last-child) {
      border-bottom: 2px solid #e7dcff !important; }
    .navbar-nav .nav-item:nth-child(4) {
      border-bottom: 2px solid #e7dcff !important; } }

.nav-item {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important; }
  @media only screen and (max-width: 37.5em) {
    .nav-item {
      margin-left: 0 !important; } }

.footer {
  background-color: #fbfaff; }
  .footer__content-wrap {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 48em) {
      .footer__content-wrap {
        grid-column-gap: 64px !important;
        grid-row-gap: 64px !important; } }
    @media only screen and (max-width: 37.5em) {
      .footer__content-wrap {
        grid-column-gap: 64px !important;
        grid-row-gap: 64px !important; } }
  .footer__description {
    max-width: 358px;
    margin-top: 24px; }
  .footer__socials {
    margin-top: 24px;
    display: flex;
    grid-column-gap: 24px; }
  .footer__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191a23 !important;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%; }
    .footer__socials-item img {
      width: 1.2rem;
      height: 1.2rem; }
  .footer__links {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto; }
    .footer__links a {
      text-decoration: none;
      color: #191a23 !important;
      font-weight: 500; }
  .footer__copyright {
    margin-top: 80px;
    padding-top: 32px;
    border-top: 1px solid #d6d7e0;
    text-align: center; }
    .footer__copyright-text {
      font-family: "Hanken Grotesk", sans-serif !important;
      font-size: 16px;
      line-height: 160%;
      color: #868893; }
  @media only screen and (max-width: 48em) {
    .footer__menu-group {
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 64px !important;
      grid-row-gap: 64px !important; } }

.hero {
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .hero {
      position: relative; } }
  .hero__title {
    max-width: 608px; }
  .hero__img-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    height: 692px;
    width: 100vw; }
    @media only screen and (max-width: 62.5em) {
      .hero__img-wrap {
        display: block; } }
  .hero__img {
    position: relative;
    top: 84px;
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: bottom right;
    margin-left: auto;
    display: block; }
  .hero-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 24px;
    background-color: #ffffff;
    max-width: 763px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 15px;
    z-index: 1000; }
    .hero-table__wrap {
      display: flex; }
    .hero-table__item {
      display: flex;
      align-items: center;
      font-family: "Hanken Grotesk", sans-serif !important;
      gap: 12px;
      width: max-content;
      padding: 0; }
    .hero-table__img {
      background-color: #e7dcff !important;
      padding: .8rem .8rem;
      border-radius: 15px; }
    .hero-table__content-name {
      font-weight: 400;
      color: #b7b8c1 !important;
      font-size: 0.875rem; }
    .hero-table__content-detail {
      font-weight: bold;
      color: #191a23 !important;
      font-size: 0.875rem; }
    @media only screen and (max-width: 48em) {
      .hero-table {
        display: flex;
        flex-direction: column;
        align-items: stretch; } }
    @media only screen and (max-width: 62.5em) {
      .hero-table {
        gap: 14px; } }
  .hero__right {
    position: absolute;
    left: 62.75%;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    width: 467px;
    height: 100%;
    max-height: 528px; }
    @media only screen and (max-width: 62.5em) {
      .hero__right {
        margin-top: 141px;
        margin-bottom: 141px;
        position: relative;
        left: 0;
        width: 100%;
        right: auto;
        bottom: auto;
        z-index: -1;
        height: 500px; } }
    @media only screen and (max-width: 48em) {
      .hero__right {
        margin-bottom: 141px; } }
    @media only screen and (max-width: 37.5em) {
      .hero__right {
        margin-bottom: 0; } }
  .hero__illustration-wrap {
    position: relative;
    height: 100%;
    width: 100%; }
    .hero__illustration-wrap-item img {
      width: 100%;
      height: auto; }
    .hero__illustration-wrap-item-1 {
      position: absolute;
      left: auto;
      top: 9.5%;
      right: 0%;
      bottom: auto;
      width: 54.2%;
      z-index: 1000; }
    .hero__illustration-wrap-item-2 {
      position: absolute;
      left: -3%;
      top: 0%;
      right: auto;
      bottom: auto;
      width: 53.1%; }
    .hero__illustration-wrap-item-3 {
      position: absolute;
      left: 54%;
      top: 35.6%;
      right: auto;
      bottom: auto;
      width: 53.1%; }

.btn-hero-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  gap: 8px;
  width: 141px;
  height: 58px; }
  @media only screen and (max-width: 48em) {
    .btn-hero-table {
      display: flex;
      width: 100%; } }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Syne", sans-serif !important;
  font-weight: 600; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1.22; }

.heading-2 {
  font-size: 3rem;
  line-height: 1; }

.heading-3 {
  font-size: 2.5rem;
  line-height: 1; }

.heading-4 {
  font-size: 2.5rem;
  line-height: 1; }

.heading-5 {
  font-size: 1.5rem;
  line-height: 1; }

.paragraph-xlarge-bold, .paragraph-xlarge-medium, .paragraph-xlarge-regular {
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1.7rem;
  line-height: 1.5; }

.paragraph-large-bold, .paragraph-large-medium, .paragraph-large-regular {
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1.125rem; }

.paragraph-normal-bold, .paragraph-normal-medium, .paragraph-normal-regular {
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1rem; }

.paragraph-xlarge-bold--gray, .paragraph-xlarge-medium--gray, .paragraph-xlarge-regular--gray {
  color: #686A79 !important;
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1.25rem;
  line-height: 1.5; }

.paragraph-large-bold--gray, .paragraph-large-medium--gray, .paragraph-large-regular--gray {
  color: #686A79 !important;
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1.125rem; }

.paragraph-large-regular--gray-light {
  color: #e7dcff !important;
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1.125rem; }

.paragraph-normal-bold--gray, .paragraph-normal-medium--gray, .paragraph-normal-regular--gray {
  color: #686A79 !important;
  font-family: "Hanken Grotesk", sans-serif !important;
  font-size: 1rem; }

.paragraph-xlarge-bold {
  font-weight: 600; }
  .paragraph-xlarge-bold--gray {
    font-weight: 600; }

.paragraph-xlarge-medium {
  font-weight: 500; }
  .paragraph-xlarge-medium--gray {
    font-weight: 500; }

.paragraph-xlarge-regular {
  font-weight: 300; }
  .paragraph-xlarge-regular--gray {
    font-weight: 300;
    max-width: 457px; }

.paragraph-large-bold {
  font-weight: 600; }
  .paragraph-large-bold--gray {
    font-weight: 600; }

.paragraph-large-medium {
  font-weight: 500; }
  .paragraph-large-medium--gray {
    font-weight: 500; }

.paragraph-large-regular {
  font-weight: 300; }
  .paragraph-large-regular--gray {
    font-weight: 300; }
  .paragraph-large-regular--gray-light {
    font-weight: 300; }

.paragraph-normal-bold {
  font-weight: 600; }
  .paragraph-normal-bold--gray {
    font-weight: 600; }

.paragraph-normal-medium {
  font-weight: 500; }
  .paragraph-normal-medium--gray {
    font-weight: 500; }

.paragraph-normal-regular {
  font-weight: 300; }
  .paragraph-normal-regular--gray {
    font-weight: 300; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-margin-bottom-small {
  margin-bottom: .8rem !important; }

.u-margin-top-big {
  margin-top: 7rem !important; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.cta {
  background-color: #c1a5ff !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border: 2px solid #191a23 !important;
  overflow: hidden;
  padding: 3.5rem 4.5rem;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 37.5em) {
    .cta {
      padding: 3.5rem 4.5rem 0 4.5rem; } }
  .cta__form-control {
    border-radius: 15px !important;
    border: none;
    padding: 24px; }
    @media only screen and (max-width: 37.5em) {
      .cta__form-control {
        padding: 13px 16px; } }
  .cta__form-control::placeholder {
    color: #B7B8C1;
    font-weight: 300; }
  .cta__content-wrap {
    width: 100%; }
  .cta__title-wrap {
    max-width: 100%;
    letter-spacing: -0.04em; }
  .cta__text-wrap {
    max-width: 26rem; }
  .cta__btn {
    background-color: #191a23 !important;
    border-radius: 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 37.5em) {
      .cta__btn {
        position: relative;
        width: 100%;
        padding: 16px 32px; } }
  .cta__bg-right {
    position: absolute;
    left: auto;
    right: -2%;
    width: 51.25%;
    z-index: -11; }
    .cta__bg-right img {
      overflow-x: hidden !important;
      overflow-y: hidden !important; }
    @media only screen and (max-width: 37.5em) {
      .cta__bg-right {
        position: relative;
        right: 20%;
        width: 100%; } }
  .cta .text-white {
    padding-left: 0;
    padding-right: 0; }

.agents__row {
  grid-row-gap: 48px; }
  @media only screen and (max-width: 48em) {
    .agents__row {
      grid-row-gap: 32px; } }

.agents__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px; }
  .agents__heading-wrap {
    max-width: 30rem; }
  .agents__heading-text-wrap {
    max-width: 28.875rem;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .agents__heading {
      display: flex;
      flex-direction: column; } }

.agents__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif !important;
  color: #191a23 !important;
  cursor: pointer;
  gap: 8px; }

.agents__card-agents-wrap {
  display: flex;
  flex-direction: row;
  grid-column-gap: 32px;
  grid-row-gap: 24px; }

.agents__card-agents {
  display: flex;
  justify-content: space-between;
  height: 9.75rem;
  grid-column-gap: 24px;
  padding: 1.5rem;
  background: #FFFFFF;
  border: 2px solid #e7dcff !important;
  border-radius: 15px; }

.agents__card-social-wrap {
  display: flex;
  grid-column-gap: 12px; }

.agents__card-social-item {
  display: flex;
  justify-content: center;
  background-color: #191a23 !important;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%; }
  .agents__card-social-item a {
    display: flex;
    align-items: center;
    justify-content: center; }
  .agents__card-social-item img {
    width: 16px;
    height: 16px; }

.agents__card-agents-photo {
  background-color: #e7dcff !important;
  border-radius: 15px;
  width: 108px;
  height: 108px; }
  .agents__card-agents-photo img {
    overflow: hidden;
    border-radius: 15px; }

.testimonial {
  width: 100vw; }
  .testimonial__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 64px; }
    .testimonial__heading-wrap {
      max-width: 30rem; }
  .testimonial__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif !important;
    color: #191a23 !important;
    cursor: pointer;
    gap: 8px; }
  .testimonial .owl-dots {
    display: none; }
  .testimonial img.star-img {
    width: 5%; }
  .testimonial .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 40px; }
  .testimonial .owl-stage-outer {
    overflow: visible !important; }
  .testimonial button.owl-prev, .testimonial button.owl-next {
    background-color: #191a23 !important;
    width: 52px;
    height: 52px;
    border-radius: 15px !important;
    text-align: center; }
  .testimonial button.owl-prev span, .testimonial button.owl-next span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem !important;
    flex-wrap: wrap; }
  .testimonial__card-wrapper {
    width: 100%; }
  .testimonial__card {
    border: 2px solid #e7dcff !important;
    border-radius: 15px;
    background: #ffffff; }
  .testimonial__content-wrapper {
    padding: 32px; }
  .testimonial__card-body {
    display: flex;
    flex-direction: column;
    grid-row-gap: 32px; }
  .testimonial__star-wrapper {
    display: flex;
    grid-column-gap: 12px;
    align-items: flex-start; }
    .testimonial__star-wrapper img {
      height: 20px;
      width: 20px; }
  .testimonial__text-wrapper {
    height: 7.5rem; }
  .testimonial__author {
    display: flex;
    justify-content: space-between; }

.cities__row {
  grid-row-gap: 24px; }
  @media only screen and (max-width: 48em) {
    .cities__row {
      grid-row-gap: 32px; } }

.cities__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px; }
  .cities__heading-wrap {
    max-width: 30rem; }
  .cities__heading-text-wrap {
    max-width: 28.875rem;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .cities__heading {
      display: flex;
      flex-direction: column; } }

.cities__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif !important;
  color: #191a23 !important;
  cursor: pointer;
  gap: 8px; }

.cities__card-explore-cities-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  justify-content: space-between;
  flex-wrap: wrap; }

.cities__card-explore-cities {
  background: #FFFFFF;
  border: 2px solid #e7dcff !important;
  border-radius: 15px;
  height: 100%; }

.cities__content-wrap {
  padding: 24px; }

.cities__card-detail-wrap {
  display: flex;
  grid-column-gap: 8px; }
  .cities__card-detail-wrap img {
    align-self: center; }

@media only screen and (max-width: 62.5em) {
  .cities {
    flex-wrap: wrap; } }

.comfort__heading {
  display: flex;
  justify-content: space-between; }
  .comfort__heading-wrap {
    max-width: 30rem; }
  .comfort__heading-text-wrap {
    max-width: 28.875rem;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .comfort__heading {
      display: flex;
      flex-direction: column; } }

.comfort__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif !important;
  color: #191a23 !important;
  cursor: pointer;
  gap: 8px; }

.comfort__benefits-wrap {
  margin-top: 4rem;
  max-width: 100vw;
  display: flex;
  grid-column-gap: 32px;
  justify-content: space-between; }
  @media only screen and (max-width: 62.5em) {
    .comfort__benefits-wrap {
      flex-wrap: wrap;
      grid-row-gap: 32px; } }
  @media only screen and (max-width: 48em) {
    .comfort__benefits-wrap {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .comfort__benefits-wrap {
      display: flex;
      flex-direction: column; } }

.comfort__benefits-items {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  border: 1px solid #191a23 !important;
  border-radius: 15px;
  flex: 1; }

.comfort__card {
  flex: 1; }

.comfort__card-body {
  padding: 40px; }

.comfort__icon-bg {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #e7dcff !important;
  padding: 1.25rem;
  width: 90px;
  height: 90px;
  border-radius: 15px; }

.comfort__text-wrap {
  max-width: 17.7rem; }

.categories__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px; }
  .categories__heading-wrap {
    max-width: 30rem; }
  .categories__heading-text-wrap {
    max-width: 28.875rem;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .categories__heading {
      display: flex;
      flex-direction: column; } }

.categories__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif !important;
  color: #191a23 !important;
  cursor: pointer;
  gap: 8px; }

.categories__featured-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
  flex-wrap: wrap; }
  @media only screen and (max-width: 48em) {
    .categories__featured-wrap {
      grid-row-gap: 32px; } }

.categories__featured {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #e7dcff !important;
  height: 100%;
  border-radius: 15px;
  padding: 1.5rem;
  justify-content: space-between; }

.categories__detail-wrap {
  display: flex;
  grid-column-gap: 16px; }

.categories__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7dcff !important;
  width: 60px;
  height: 60px;
  border-radius: 15px; }
  .categories__icon-wrap img {
    display: flex;
    justify-items: center; }

.categories__text-view-wrap {
  display: flex; }
  .categories__text-view-wrap-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    font-family: "Hanken Grotesk", sans-serif !important;
    color: #191a23 !important;
    cursor: pointer;
    gap: 8px; }

.heading {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 48em) {
    .heading {
      display: flex;
      flex-direction: column; } }

.featured-listings {
  display: flex;
  margin-bottom: 64px; }
  .featured-listings__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Hanken Grotesk", sans-serif !important;
    color: #191a23 !important;
    cursor: pointer;
    gap: 8px; }
  .featured-listings__card {
    align-items: stretch;
    padding: 0px;
    background: #FFFFFF;
    border: 2px solid #E7DCFF;
    border-radius: 15px; }
  .featured-listings__img-wrap {
    height: 100%;
    object-fit: cover;
    object-position: center; }
    .featured-listings__img-wrap img {
      border-bottom-left-radius: 15px !important;
      border-top-left-radius: 15px !important;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: cover; }
  .featured-listings__content-wrap {
    padding: 1.5rem 2rem; }
  .featured-listings__detail-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column-gap: 32px; }
    @media only screen and (max-width: 48em) {
      .featured-listings__detail-top {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 62.5em) {
      .featured-listings__detail-top {
        display: flex;
        flex-direction: column; } }
  .featured-listings__detail-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-column-gap: 2px;
    margin-bottom: 4px; }
    .featured-listings__detail-price h3 {
      font-family: "Syne", sans-serif !important;
      font-style: normal;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -0.03em;
      color: #191a23 !important; }
    .featured-listings__detail-price .text-price {
      line-height: 40px;
      display: flex;
      align-items: center;
      font-family: "Hanken Grotesk", sans-serif !important;
      font-weight: 300;
      font-size: 1.125rem;
      color: #686A79 !important; }
  .featured-listings__agents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px; }
    .featured-listings__agents-wrap {
      display: flex;
      align-items: center;
      gap: 8px;
      align-items: center; }
    .featured-listings__agents-photo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px; }
    .featured-listings__agents-button {
      background-color: #191a23 !important;
      border-radius: 50%;
      width: 2rem;
      height: 2rem; }
  .featured-listings__card-location {
    display: flex;
    align-items: center;
    grid-column-gap: 8px; }
    .featured-listings__card-location-img {
      display: inherit;
      align-items: center;
      justify-content: center; }
  .featured-listings__card-description {
    margin-top: 1.25rem;
    line-height: 28px; }
  .featured-listings__facility {
    background-color: #F7F2FF !important;
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    padding: 1.5rem 2rem;
    flex-wrap: wrap; }
    .featured-listings__facility-item {
      display: flex;
      flex-direction: column; }
    .featured-listings__facility-detail {
      margin-top: 0.625rem;
      display: flex;
      align-items: center;
      gap: 8px; }
    .featured-listings__facility-wrap-text {
      font-family: "Hanken Grotesk", sans-serif !important;
      font-weight: 700;
      color: #191a23 !important; }
    @media only screen and (max-width: 62.5em) {
      .featured-listings__facility {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 48em) {
      .featured-listings__facility {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; } }
  .featured-listings__row {
    grid-row-gap: 24px; }
    @media only screen and (max-width: 48em) {
      .featured-listings__row {
        grid-row-gap: 32px; } }
  .featured-listings__small-card-wrapper {
    display: flex;
    margin-top: 2.5rem;
    grid-column-gap: 32px;
    height: 100%;
    align-items: stretch; }
    @media only screen and (max-width: 62.5em) {
      .featured-listings__small-card-wrapper {
        margin-top: 2.5rem;
        flex-wrap: wrap;
        height: 100%;
        grid-row-gap: 2.5rem; } }
  .featured-listings__small-card {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background: #FFFFFF;
    border: 2px solid #E7DCFF;
    border-radius: 15px;
    height: 100%; }
    .featured-listings__small-card img {
      border-top-left-radius: 15px !important;
      border-top-right-radius: 15px !important; }
    .featured-listings__small-card-content-wrap {
      padding: 2rem 1.5rem 1.5rem; }
    .featured-listings__small-card-detail-price {
      display: flex;
      grid-column-gap: 2px; }
      .featured-listings__small-card-detail-price h4 {
        font-family: "Syne", sans-serif !important;
        font-style: normal;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.03em;
        color: #191a23 !important; }
      .featured-listings__small-card-detail-price .text-price-2 {
        line-height: 32px;
        display: flex;
        align-items: center;
        font-family: "Hanken Grotesk", sans-serif !important;
        font-weight: 300;
        font-size: 1.125rem;
        color: #686A79 !important; }
    .featured-listings__small-card-content-wrap {
      display: flex;
      grid-row-gap: 16px;
      flex-direction: column; }
    .featured-listings__small-card-description {
      margin-top: 16px; }
    .featured-listings__small-card-facilities {
      display: flex;
      grid-column-gap: 24px;
      grid-row-gap: 12px;
      flex-wrap: wrap; }
    .featured-listings__small-card-facility {
      display: flex;
      grid-column-gap: 8px;
      align-items: center;
      justify-items: center; }
