.navbar {
    font-family: $font-display;
    display: flex;

    

    @media only screen and(max-width:$bp-small) {
        .btn {
            display: flex;
            width: 100%;
            padding: 56px 20px 24px;
        }
    }

}

.btn {

    &--primary {
        border: 1px solid black !important;
        border-radius: 15px !important;
        padding: .8rem 1.8rem !important;
        font-weight: 600 !important;
        display: flex !important;
        justify-content: center !important;
        flex: 1 0 0 !important;

        @media only screen and (max-width:600px) {
            padding: .3rem 1.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            display: flex;
            width: 100%;
            padding: 56px 20px 24px;
        }
    }

    &--secondary {
        border-radius: 15px !important;
        padding: 1.1rem 5rem !important;
        background: #191A23 !important;
        color: #fff !important;
        font-weight: 600 !important;
        
    }

    
}

.navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;

    @media only screen and (max-width:$bp-small) {
        .nav-item {
            padding: 24px 0px;
        }
    }

    @media only screen and (max-width:$bp-small) {
        .nav-item:not(:last-child) {
            border-bottom: 2px solid $color-primary-lavender-light;
        }

        .nav-item:nth-child(4) {
            border-bottom: 2px solid $color-primary-lavender-light;;
        }
    }
    
}

.nav-item {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;

    @media only screen and (max-width: $bp-small) {
        margin-left: 0 !important;
    }
}


