.navbar {
    font-family: $font-display;
    display: flex;

    

    @media only screen and(max-width:$bp-small) {
        .btn {
            display: flex;
            width: 100%;
            padding: 56px 20px 24px;
        }
    }

}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: transparent;
}


.btn {

    &--primary {
        border: 1px solid black !important;
        border-radius: 15px !important;
        padding: .8rem 1.8rem !important;
        font-weight: 600 !important;
        display: flex !important;
        justify-content: center !important;
        flex: 1 0 0 !important;

        @media only screen and (max-width:600px) {
            padding: .3rem 1.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            display: flex;
            width: 100%;
            padding: 56px 20px 24px;
        }

        &:hover {
            background-color: #191A23;
            color: #ffffff;
            transition: all ease-out .2s;
        }
    }

    &--secondary {
        border-radius: 15px !important;
        padding: 1.1rem 5rem !important;
        background: #191A23 !important;
        color: #fff !important;
        font-weight: 600 !important;
        
        &:hover {
            background-color: transparent !important;
            color: $color-secondary;
            border: 1px solid $color-secondary;
            transition: all .2s ease-out;
        }
        
    }

    
}

.navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;

    @media only screen and (max-width:$bp-small) {
        .nav-item {
            padding: 24px 0px;
        }
    }

    @media only screen and (max-width:$bp-small) {
        .nav-item:not(:last-child) {
            border-bottom: 2px solid $color-primary-lavender-light;
        }

        .nav-item:nth-child(4) {
            border-bottom: 2px solid $color-primary-lavender-light;;
        }
    }
    
}

.nav-item {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    color: $color-secondary;

    @media only screen and (max-width: $bp-small) {
        margin-left: 0 !important;
    }

    & a {
        color: $color-secondary;
    }

}

.navbar-nav > li > a {
    transition: all .2s ease-out;
    border-radius: 5px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #f2eaff;
    transition: all .2s ease-out;
    transform: translateY(-3px);
    border-radius: 5px;

}
