.agents {
    
    &__row {
        grid-row-gap: 48px;

        @media only screen and(max-width: $bp-medium) {
            grid-row-gap:32px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        &-wrap {
            max-width: 30rem;
        }

        &-text-wrap {
            max-width: 28.875rem;
            align-items: center;
            justify-content: center;
        }

        @media only screen and (max-width : $bp-large) {
            display: flex;
            flex-direction: column;
        }

        @media only screen and (max-width: 480px) {
            .heading-2 {
                font-size: 2rem;
            }
        }

        @media only screen and (max-width: $bp-smallest) {
            .heading-2 {
                font-size: 2rem;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration:none;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
        transition: all .2s ease-out;

        &:hover {
            transition: all .2s ease-out;
            transform: translateX(8px);
            color: $color-primary-lavender  ;
        }
    }

    &__card-agents-wrap {
        display: flex;
        flex-direction: row;
        grid-column-gap:32px;
        grid-row-gap:24px;
    }


    &__card-agents-detail {
        cursor: pointer;
        a {
            text-decoration: none;
            color: $color-secondary;
            line-height: 0 !important;
        }

    }

    &__card-agents {
        display: flex;
        justify-content: space-between;
        // width: 23rem;
        height: 9.75rem;
        grid-column-gap:24px;
        padding: 1.5rem;
        background: #FFFFFF;
        border: 2px solid $color-primary-lavender-light;
        border-radius: 15px;
        transition: all 0.3s linear;

        &:hover {
            border: 2px solid $color-primary-lavender;
            box-shadow: 0px 0px 999px 999px rgba(237, 237, 237, 0.5);
            z-index: 500;
            transition: all 0.3s linear;
            transform: translateY(-2px);
        }

        @media only screen and (max-width:$bp-smallest) {
            padding: 1.5rem 0.8rem;

            .heading-5 {
                font-size: 1.2rem;
            }
        }
    }

    &__card-social-wrap {
        display: flex;
        grid-column-gap:12px;
    }

    &__card-social-item {
        display: flex;
        justify-content: center;
        background-color: $color-secondary;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 16px;
            height: 16px;
        }
    }

    &__card-agents-photo {
        background-color: $color-primary-lavender-light;
        border-radius:15px;
        width: 108px;

        img {
            overflow: hidden;
            border-radius:15px;

            @media only screen and (max-width:$bp-smallest) {
                width: 87px;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            
        }

        @media only screen and (max-width:$bp-smallest) {
                width: 87px;
                height: 100%;
            }
    }
    
}