.cities {

    &__row {
        grid-row-gap:24px;
        @media only screen and(max-width: $bp-medium) {
            grid-row-gap:32px;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        &-wrap {
            max-width: 30rem;
        }

        &-text-wrap {
            max-width: 28.875rem;
            align-items: center;
            justify-content: center;
        }

        @media only screen and (max-width : $bp-large) {
            display: flex;
            flex-direction: column;
        }


        @media only screen and (max-width: $bp-smallest) {
            .heading-2 {
                font-size: 2rem;
            }
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 2rem;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration:none;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
        transition: all .2s ease-out;
    }

    &__link:hover {
        transition: all linear .2s;
        transform: translateX(8px);
        color: $color-primary-lavender;
    
        svg {
            path{
                transition: all linear .2s;
                stroke: $color-primary-lavender;
            }
        }

    }

    &__card-explore-cities-wrap {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card-explore-cities {
        background: #FFFFFF;
        border: 2px solid $color-primary-lavender-light;
        border-radius: 15px;
        height: 100%;
        transition: .6s cubic-bezier(0.64, 0.01, 0.07, 1.65);

        &:hover {
            transition: .5s cubic-bezier(0.64, 0.01, 0.07, 1.65);
            transform: translateY(-8px);
            border: 2px solid $color-primary-lavender;
            background-color: white;

            .cities__card-cities-location {
                a {
                    color: $color-primary-lavender;
                    transition: all linear .3s;
                }
            }

            .cities__card-detail-wrap {
               .paragraph-large-regular--gray {
                    color: $color-secondary;
                    transition: all linear .3s;
               } 
            }

          }

          img.card-img-top {
            border-radius: 15px;
          }
    }

    &__content-wrap {
        padding:24px;
    }

    &__card-cities-location {
        cursor: pointer;
        margin-bottom: 0.5rem !important;

        a {
            text-decoration: none;
            color: $color-secondary;
            transition: all linear .3s;
    }

    @media only screen and (max-width: $bp-smallest) {
        .heading-5 {
            font-size: 1.3rem;
        }   
    }
}

    &__card-detail-wrap {

        .paragraph-large-regular--gray {
            transition: all linear .3s;
        }
        
        display: flex;
        grid-column-gap:8px;
        
        img {
            align-self: center;
        }
    }

    @media only screen and (max-width: $bp-large){
        flex-wrap: wrap;
    }
}