.comfort {

    &__heading {
        display: flex;
        justify-content: space-between;

        &-wrap {
            max-width: 30rem;
            
            @media only screen and (max-width: 480px) {
                .heading-2 {
                    font-size: 2.3rem;
                }
            }
    
            @media only screen and (max-width: $bp-smallest) {
                .heading-2 {
                    font-size: 2rem;
                }
            }
        }

        &-text-wrap {
            margin-top: 16px;
            max-width: 28.875rem;
            align-items: center;
            justify-content: center;
            
        }

        @media only screen and (max-width : $bp-large) {
            display: flex;
            flex-direction: column;
        }

        
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration:none;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
    }

    &__benefits-wrap {
        margin-top: 2rem;
        max-width: 100vw;
        display: flex;
        grid-column-gap:32px;
        justify-content: space-between;

        @media only screen and (max-width : $bp-large) {
            flex-wrap: wrap;
            grid-row-gap: 32px;
        }

        @media only screen and (max-width : $bp-medium) {
            display: flex;
            flex-direction: column;
        }

        @media only screen and (max-width : $bp-small) {
            display: flex;
            flex-direction: column;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-top: 2rem;
        }
    }

    &__benefits-items {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid $color-secondary;
    border-radius: 15px;
    flex: 1;
    transition: .6s cubic-bezier(0.64, 0.01, 0.07, 1.65);

    &:hover {
        transform: translateY(-8px);
        transition: .5s cubic-bezier(0.64, 0.01, 0.07, 1.65);
        border: 1px solid $color-primary-lavender-darker;

        .comfort__text-wrap {
            h5.heading-5 {
                transition: all linear .3s;
                color: $color-primary-lavender;
            }

            .paragraph-normal-regular--gray {
                color: $color-secondary;
            }
        }

        .comfort__icon-bg {
            background-color: $color-primary-lavender-light-2;
            transition: all linear .3s;
        }

        // .comfort__icon-bg {
        //     svg {
        //         path.comfort__icon-bg-dollar-1 {
        //             stroke: $color-secondary-dark;
        //             opacity: 0.3;
        //             transition: all linear .3s;
        //         }
        //     }
        // }

    }
    }

        &__card {
            flex: 1;
        }

    &__card-body {
        padding: 40px;

        @media only screen and (max-width:$bp-smallest) {
            padding: 24px;
        }
    }


    &__icon-bg {
        display: flex;
        margin-bottom: 4rem;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-lavender-light;
        padding: 1.25rem;
        width: 90px;
        height: 90px;
        border-radius: 15px;
        transition: all linear .3s;
        
        svg {
            path {
                transition: all linear .3s;
            }
        }
    }

    &__text-wrap {
        max-width: 17.7rem;
        
        h5.heading-5 {
            transition: all linear .4s;
        }
    }

    
}

