.cta {
    background-color: $color-primary-lavender-dark;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:15px;
    border: 2px solid $color-secondary;
    overflow: hidden;
    padding: 3.5rem 4.5rem;
    position: relative;
    z-index: 10;
    
    @media only screen and (max-width: $bp-small) {
        padding: 3.5rem 4.5rem 0 4.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding: 1.5rem 2.5rem 0 2.5rem;
    }


    &__form-control {
        border-radius: 15px !important;
        border: none;
        padding: 24px;

        @media only screen and (max-width:$bp-small) {
            padding: 13px 16px;
        }
    }

    &__form-control::placeholder {
        color: #B7B8C1;
        font-weight: 300;
    }

    &__content-wrap {
        // width: 26rem;
        width: 100%;
    }

    &__title-wrap {
        max-width: 100%;
        letter-spacing: -0.04em;


        @media only screen and (max-width: $bp-smallest) {
            h2.heading-2 {
                font-size: 28px;
                line-height: 44px;

            }
        }
    }

    &__text-wrap {
        max-width: 26rem;

        @media only screen and (max-width: $bp-smallest) {
            .paragraph-large-regular--gray-light {
                line-height: 28px;
                
            }
        }
    }
    
    &__btn {
        background-color: $color-secondary;
        border-radius:15px;
        color: #ffffff;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 2rem;
        transition: all linear .2s;

        @media only screen and (max-width: $bp-small) {
            position: relative;
            width: 100%;
            padding: 16px 32px;
        }

        &:hover {
            background-color: #C1A5FF !important;   
            transition: all linear .2s;
        }
    }



    &__bg-right {
        position: absolute;
        left: auto;
        right: -2%;
        width: 51.25%;
        z-index: -11;

        img {
            overflow-x: hidden !important;
            overflow-y: hidden !important;
        }

        @media only screen and (max-width: $bp-small) {
            position: relative;
            right: 20%;
            width: 100%;
        }
    }

    .text-white {
        padding-left: 0;
        padding-right: 0;
    }

}


