.categories {


    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        
        &-wrap {
        max-width: 30rem;
        }

        &-text-wrap {
            max-width: 28.875rem;
            align-items: center;
            justify-content: center;
        }

        @media only screen and (max-width : $bp-large) {
            display: flex;
            flex-direction: column;
        }

        @media only screen and (max-width: 480px) {
            .heading-2 {
                font-size: 2rem;
            }   
        }
        
        @media only screen and (max-width: $bp-smallest) {
            .heading-2 {
                font-size: 1.7rem;
            }   
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration:none;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
        transition: all .2s ease-out;

        &:hover {
            transition: all .2s ease-out;
            transform: translateX(8px);
            color: $color-primary-lavender  ;
        }
    }

    &__featured-wrap {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 24px;
        flex-wrap: wrap;
    
        @media only screen and(max-width: $bp-medium) {
            grid-row-gap:32px;
        }
    }

    &__featured {
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        border: 2px solid $color-primary-lavender-light;
        height: 100%;
        border-radius: 15px;
        padding: 1.5rem;
        justify-content: space-between;
        transition: all 0.3s linear;

        &:hover {
            border: 2px solid $color-primary-lavender;
            box-shadow: 0px 0px 999px 999px rgba(237, 237, 237, 0.5);
            z-index: 500;
            transition: all 0.3s linear;
            transform: translateY(-2px);
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 1rem;
        }
    }

    &__detail-wrap {
        display: flex;
        grid-column-gap: 16px;
        
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content:center;
        background-color: $color-primary-lavender-light;
        width: 60px;
        height: 60px;
        border-radius:15px;

        img {
            display: flex;
            justify-items: center;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 50px;
            height: auto;
        }
    }

    &__text-view-wrap {
        display: flex;
        transition: all .2s ease-out;
        
        &-link {
        display: flex;
        align-items: center;
        text-decoration:none;
        
        font-weight: 700;
        font-size: 16px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
        
        }

        &:hover {
            transition: all .2s ease-out;
            transform: translateX(4px);
        }

    }

    &__text-wrap {
        @media only screen and (max-width: $bp-smallest) {
            .heading-5 {
                font-size: 1.25rem;
            }   
        }

        @media only screen and (max-width: $bp-smallest) {
            .paragraph-large-regular--gray {
                font-size: 1.125rem;
            }   
        }
    }
    

}