.testimonial {
    width: 100vw;

    &__heading {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
        &-wrap {
            max-width: 30rem;
        }

        @media only screen and(max-width:$bp-smallest) {
            h2.heading-2 {
                font-size: 28px;
            }
        }

    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration:none;
        font-weight: 700;
        font-size: 18px;
        font-family: $font-display;
        color: $color-secondary;
        cursor: pointer;
        gap: 8px;
    }

    

    &__card-wrapper {
        width: 100%
    }


    &__card {
        border: 2px solid $color-primary-lavender-light;
        border-radius: 15px;
        background: #ffffff;
    }

    &__content-wrapper {
        padding: 32px;
    }
    
    &__card-body {
        display: flex;
        flex-direction: column;
        grid-row-gap:32px;
    }

    &__star-wrapper {
        display: flex;
        grid-column-gap: 12px;
        align-items: flex-start;

        img {
            height: 20px;
            width: 20px;
        }
    }

    // &__text-wrapper {
    //     height: 7.5rem;
    // }

    &__author {
        display: flex;
        justify-content: space-between;
    }
}

 /* the slides */
 .slick-slide {
    margin: 0 12px;
}

@media only screen and(max-width:$bp-small) {
.slick-slide.slick-cloned {
    margin: 0 6px;
}    
}


/* the parent */
.slick-list {
    margin: 0 -24px 150px 0;
    overflow: visible !important;
}

.slick-prev,.slick-next {
    background-color: $color-secondary;
    width: 52px;
    height: 52px;
    border-radius: 15px !important;
    top: 107%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: inline-block;
    position: absolute !important;
    transition: all .2s ease-out;
}

.slick-prev {
    left: 44.5%;

    @media only screen and (max-width: $bp-smallest) {
        left: 30%;
    }
}

.slick-next {
    right: 44.5%;

    @media only screen and (max-width: $bp-smallest) {
        right: 30%;
    }
}

.slick-prev:before {
    content: "🡠";
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem !important;
  }

  
  .slick-next:before {
    content: "🡢";
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem !important;
  }